.header
  #nav-toggle
    %div
      %span
      %span
      %span
  #gloval-nav
    %nav
      %ul
        %li
          = link_to 'Home', root_path(current_user)
        %li
          %a{:href => "#"} Curt
        %li
          = link_to 'Edit Acount', edit_user_path(current_user)
        %li
          %a{:href => "#"} Works
        %li
          %a{:href => "#"} Contact
  / /#gloval-nav
  #container
    %h1 test

