.main
  %ul.main__items
    %li.item
      .item__item_img
    %li.item
      .item__item_img
    %li.item
      .item__item_img
    %li.item
      .item__item_img
    %li.item
      .item__item_img
    %li.item
      .item__item_img
